{% extends "index.html" %} 
{% block content %}
<h1>Add a New post</h1>
<!-- TODO: Redo Logic Of How This Template is Implemented-->
<!-- TODO: Redo This Form in HTMX -->
<form method="post">
  <label for="title">Title</label>
  <br />
  <input
    type="text"
    name="title"
    placeholder="Post Title"
    value="{{request.form['title']}}"
  />
  <br />
  <textarea
    name="content"
    placeholder="Post content"
    rows="15"
    cols="60"
  ></textarea>
  <br />
  <button type="submit">Submit</button>
</form>
{% endblock %}
